<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between"
  style="margin:24px 0;">
  <h5 class="title">Comments</h5>
  <div class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" [(ngModel)]="search"
      type="text" placeholder="Search">
    <button class="btn btn-success my-2 my-sm-0" (click)="setSearch()"
      type="button">Search</button>
  </div>
</nav>