
.comment {
  padding: 15px 15px 15px 45px;
  background-color: #fff;
  position: relative;
  &-group {
    .comment-group {
      border-left: 1px solid rgb(197, 197, 197);
      padding-left: 45px;
    }
  }
  &:hover{
    .delete{
      opacity: 1;
      transform: scale(1);
    }
  }
  .delete {
    width: 30px;
    height: 30px;
    background: #f35e61;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: -15px;
    top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    transition: .3s;
    opacity: 0;
    transform: scale(0);
  }
}
