<div class="container">
  <div class="row">
    <div class="col-12">
      <app-seach-form (ChangedOn)="setSearch($event)"></app-seach-form>
    </div>
    <div class="col-12">
      <h4>Comments <span style="font-size: .6em"
        *ngIf="search">search by: {{search}}</span></h4>

      <ng-container *ngIf="!search; else elseTemplate">
        <ng-template #recursiveList let-comments>
          <div>
            <div [@commentsAnimation] *ngFor="let comment of comments">
              <div class="comment-group">
                <div class="comment mb-4">
                  <p> {{comment.content}}</p>
                  <div (click)="delete(comment.id)" class="delete">x</div>
                </div>
                <app-comment-form (AddComment)=(addComment($event))
                  [parentId]="comment.id"></app-comment-form>
                <div *ngIf="comment.children?.length > 0">
                  <ng-container 
                    *ngTemplateOutlet="recursiveList;
                      context:{ $implicit: comment.children }">
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-container 
          *ngTemplateOutlet="recursiveList; context:{ $implicit: comments }">
        </ng-container>
      </ng-container>

      <ng-template #elseTemplate>
        <div [@commentsAnimation]
         *ngFor="let comment of commentsData | filterComments : 'content' : search;">
          <div class="comment mb-4">
            <p> {{comment.content}}</p>
            <div (click)="delete(comment.id)" class="delete">x</div>
          </div>
          <app-comment-form (AddComment)=(addComment($event))
           [parentId]="comment.id"></app-comment-form>
        </div>
      </ng-template>

    </div>
    <div class="col-12">
      <p>Add comment</p>
      <app-comment-form (AddComment)=(addComment($event))></app-comment-form>
    </div>
  </div>
</div>