<form (ngSubmit)="onSubmit()" [formGroup]="commentForm" class="mb-4">
  <textarea formControlName="content"></textarea>
  <div *ngIf="submited && commentForm.controls.content.invalid" 
    class="alert alert-danger">
    Content is required
  </div>
  <div class="d-flex">
    <button type="button" type="submit" 
      class="btn ml-auto btn-danger">Submit</button>
  </div>
</form>